@use "./variables" as *;

:root[data-layout="box"] body {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
}

:root[data-layout="full"] body {
  .page {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

html,
body {
  margin: 0px;
}

h1 {
  margin-top: 0;
}
