@use "./variables" as *;

@mixin rowClasses {
  .row {
    --columns: 1;
    --gap: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap);
    grid-auto-flow: row;
    container-type: inline-size;
  }

  @container (min-width: 40rem) {
    .row {
      --columns: 2;
    }
  }

  @container (min-width: 64rem) {
    .row {
      --columns: 4;
    }
  }
}

@mixin columnClasses {
  .column {
    grid-column: auto;
  }
}

@include rowClasses;
@include columnClasses;

:root[data-layout="box"] body {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
}

:root[data-layout="full"] body {
  max-width: none;
}

html,
body {
  margin: 0px;
}

h1 {
  margin-top: 0;
}
