@use "../../styles/tools/mixins" as *;

.footer {
  // background-color: var(--surfaceAccent);
  // min-height: 100svh;
  // font-size: 1.25rem;
  // font-weight: 600;
  // padding: 2rem;
}

.footer {
  background-color: var(--surfaceAccent);
  color: var(--surfaceAccent);
  height: 100vh;
  padding: 1rem;

  @include mq(s) {
    padding: 2rem;
    color: red;
  }

  &__logo {
    padding-top: 4rem;
    // font-size: var(--text-3xl);
    // font-weight: bold;
    // color: var(--black);
  }

  &__layout-container {
    // padding: 2rem;
    background-color: var(--black);
    height: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transform-origin: bottom center;
    will-change: transform, opacity, clip-path;
  }

  &__headlayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__name {
    font-size: var(--text-3xl);
    font-weight: bold;
    color: var(--surfaceAccent);
    h2 {
      text-align: center;
      margin: 0;
    }
  }

  &__navigation {
    height: 5%;
    height: 20%;

    ul {
      // all: unset;
      padding: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      gap: 1rem;

      @include mq(s) {
        padding: 1rem;
        flex-direction: row;
        color: red;
      }
    }

    a {
      color: var(--black);
      font-size: 1.25rem;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // gap: 1rem 1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.sticky-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  // overflow: hidden;
  margin: -0.4rem 0;
  padding: 1.2rem 0;
}

.sticky-link__text {
  display: inline-block;
  will-change: transform;
  pointer-events: none;
}
