.card {
  --surface--01: #411a36;
  --surface--02: #37faff;
  --text--01: #ffffff;
  --text--02: #000000;
  --outline-01: #37faff;
  --outline-02: #000000;
  margin: 0 8px;
  // border: 4px solid red;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    .card__link {
      text-decoration: underline;
    }

    .card__link:hover {
      text-decoration: line-through;
    }

    .card__link::before {
      display: inline-block;
      transform: translateX(-16px);
    }

    .card__link:hover::before {
      display: none;
    }

    .card__link:hover::after {
      display: inline;
      opacity: 1;
      transform: translateX(32px);
    }

    .card__link::after {
      opacity: 0;
      display: inline;
    }
  }

  &__body {
    padding: 48px 24px;
  }

  &__headline {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-bottom: 0;
    line-height: 3rem;
  }

  &__description {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 32px 0;
    line-height: 1.7rem;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s ease;
    will-change: transform;
  }

  &__link {
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      text-decoration-color: var(--surface--02);
      text-decoration: underline;

      &::after {
        content: "→";
        display: inline;
        transform: translateX(16px);
      }

      &::before {
        content: "→";
        display: none;
        transition: transform 0.25s ease;
      }
    }

    &::after {
      content: "→";
      display: inline;
      // display: none;
      opacity: 0;
      transform: translateX(32px);
    }

    &::before {
      content: "→";
      display: none;
      transition: transform 0.25s ease;
    }
  }

  &__date {
    font-size: 1.1rem;
    font-weight: 600;
    color: #888;
  }

  &__footer {
    padding: 48px 24px;
    display: flex;
    justify-content: space-between;
  }

  &__tagline {
    font-size: 1.1rem;
    letter-spacing: 0.11em;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: 3px solid var(--surface--02);
    padding: 8px 16px;
    border-radius: 12px;
    width: fit-content;
  }

  &--primary {
    background: var(--surface--01);
    color: white;

    &:hover {
      background: var(--surface--02);
      color: black;

      .card__date,
      .card__description {
        color: inherit;
      }

      .card__tagline {
        outline: 3px solid var(--outline-02);
      }
    }

    .card__headline {
      font-size: 4.8rem;
      font-weight: 900;
      margin-bottom: 1rem;
      margin-bottom: 0;
      line-height: 5rem;
    }

    .card__description {
      color: #eee;
    }

    .card__date {
      color: var(--surface--02);
    }
  }

  &--secondary {
    background: var(--surface--02);
    color: black;

    .card__tagline {
      outline: 3px solid black;
    }

    .card__description {
      color: var(--text--02);
    }

    .card__date {
      color: #000;
    }
  }

  &--clean {
    background: transparent;
    // background: var(--surface--02);
    color: black;

    &:hover {
      .card__image {
        transform: scale(1.1);
      }
    }
  }
}
