@font-face {
  font-family: "Barlow bold";
  src: url("/fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow medium";
  src: url("/fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow light";
  src: url("/fonts/Barlow-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow semibold";
  src: url("/fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
